@import "./base.css";

.vh-90 {
    min-height: 90vh;
}

.dark-blue {
    background-color: #032541;
}

.home-banner {
    min-height: 350px;
    max-height: 360px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}
/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }